body {
  background-color: #fffef7;
}

/* navigation  */
header {
  display: flex;
  height: 70px;
  align-items: center;
}

header nav {
  height: 70px;
  flex-grow: 1;
  background-color: #d1c2e0;
}

header nav a img {
  height: 100%;
  width: auto;
}

.menu-item {
  padding: 0px 15px;
  list-style-type: none;
  margin-left: 150px;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

header nav div ul li a:hover {
  color: #280050;
}

li a {
  text-decoration: none;
}

nav div {
  margin-top: -40px;
}
.menu li {
  display: inline;
  padding: 0;
}

.menu li a {
  color: #fff;
  padding: 0;
}

/* main  */
main {
  height: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.8);
}

main article {
  padding-top: 180px;
}

.entry-content {
  font-family: sans-serif;
}

footer {
  background-color: #d1c2e0;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}

footer div {
  padding: 20px;
  font-size: 30px;
}

/* post page  */

.page-title {
  font-size: 40px;
}

.entry-footer {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 10%;
  text-align: right;
  margin-bottom: 0px;
}

.entry-title a {
  text-decoration: none;
}

.entry-title a:hover {
  color: #d1c2e0;
}

.page-header {
  margin-top: 40px;
}

.post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0px;
}

.project-page {
  padding: 5% 5%;
}

.project-page article {
  height: 100%;
  width: 100%;
  padding: 0;
}

.project-page article img {
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
}

/* post style  */
.post-wrapper {
  padding: 50px 10%;
}

.post-wrapper div p img {
  padding: 20px;
  border: 2px solid #fff;
  background-color: black;
  margin-top: 20px;
}
